<div class="home-bg">

    <app-navbar2></app-navbar2>
    <div class="content">
        <h2>We are a community-based help service!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ipsum earum nemo quasi veniam sed
            ratione sapiente beatae accusantium voluptatibus. Obcaecati, quisquam adipisci quod reprehenderit dicta eius
            sequi explicabo perferendis fugit minima. Sit, culpa quisquam. Ipsam itaque id, similique modi et, vel quia
            accusamus quaerat pariatur, incidunt expedita dolore placeat. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Esse, explicabo quia error cum perferendis et, ipsam eaque, magni accusamus nisi quod ad
            dicta mollitia exercitationem assumenda ea amet ex suscipit.</p>
        <button class="try-free">TRY IT FREE</button>
        <button class="signup">SIGN UP</button>
    </div>
    <div class="search">
        <app-search-bar2></app-search-bar2>
    </div>

    <app-card-body></app-card-body>

</div>