<div class="card-body-wrap">
    <div class="card-body-header">
        <h3>Need help with any of this?</h3>
    </div>
    <div class="cards-container">
        <div class="card">
            <div class="card-header">Samsung Galaxy S21</div>
            <div class="card-img"><img src="/assets/img/Samsung-Galaxy-S21-Ultra-Spec-and-Price-2.png"
                    alt="Samsung Galaxy S21 Ultra"></div>
        </div>
        <div class="card">
            <div class="card-header">Iphone 12 Pro Max</div>
            <div class="card-img"><img src="/assets/img/iphone-12-pro-max-gold-001_1_2.jpeg" alt="Iphone 12 Pro Max">
            </div>
        </div>
        <div class="card">
            <div class="card-header">Google Pixel</div>
            <div class="card-img"><img src="/assets/img/Google-Pixel-Clearly-White.jpeg" alt="Google Pixel"></div>
        </div>
        <div class="card">
            <div class="card-header">ASUS Zenfone</div>
            <div class="card-img"><img src="/assets/img/ASUS_ZenFone_Max_M1_ZB555KL_L_1.jpeg" alt="ASUS Zenfone"></div>
        </div>
    </div>
</div>